<% include ../partials/header.ejs %>

<form class="ui form" method="post" action="/<%=topic%>/<%= blog %>/comments/<%= found._id %>?_method=PUT">
    <div class="container">
        <div class="label new">Your Comment</div>
        <div class="field">
            <input class="new" type="text" name="comment" value="<%= found.comment %>"/>
        </div>
        <input type="submit" class="ui primary button">
    </div>
</form>


<% include ../partials/footer.ejs %>