<html>
    <head>

        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css"/>
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css"/>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"> </script>

    </head>
    <body>

    <div class="ui inverted menu">
        <a class="item" href="/">
            <i class="code icon"></i>
        </a>
        <a class="item">
            BlogSite
        </a>
        <div class="right menu">
            <div class="item">
                <div class="ui transparent icon input">
                    <input type="text" style="color: white" placeholder="Search...">
                    <i class="search link icon"></i>
                    <% if (!currentuser) { %>
                    <a class="item" href="/login">Login</a>
                    <a class="item" href="/signup">Sign up</a>
                    <% } else {%>
                    <a class="item" href="/logout">Log out </a>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
