<% include ./partials/header.ejs %>

<h1>Blogs on <%= topic %></h1>

<div class="ui celled grid">
    <div class="row" style="height: 100px">
        <div class="three wide column">
            <div></div>
        </div>
        <div class="thirteen wide column">
            <p></p>
        </div>
    </div>
    <div class="row" style="height: 100px;">
        <div class="three wide column">
            <img>
        </div>
        <div class="thirteen wide column">
            <p></p>
        </div>
    </div>
</div>

<a class="positive ui button" href="/technology/new">Create new Post</a>

<% include ./partials/footer.ejs %>