<% include ./partials/header.ejs %>
<div class="con">
    <a class="index" href="/technology">Technology</a>
    <a class="index" href="/sports">Sports</a>
    <a class="index" href="/politics">Politics</a>
    <a class="index" href="/personal">Personal</a>
</div>

<% include ./partials/footer.ejs %>