.con{
    text-align: center;
    border:solid black;
    padding: 30px;
}

.new{
    margin: 15px;
}

.hex{
    text-align: left;
}

.contain{
    text-align: center;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}

.label{
    font-size: 25px;
}
.container{
    text-align: center;
    margin: 10%;
    border-radius: 15px;
    border:solid #41363a;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}

.post{
    font-size: 25px;
    horiz-align: center;
border:solid black;

}
.index{
    display:block;
    text-align: center;
    height:5%;
    border:solid black;
    margin-top:10px;
    margin-left: 15%;
    margin-right: 15%;
    padding:5%;
    font-size: 35px;
}

.fee{
    margin:10% 35% 0 35%;
}

.imag2{
    height: 100%;
    width:100%;
}

.contain a{
    font-size: 20px;
}

.link{
    position:absolute;
    bottom: 0;
    right: 0;
}

.show{
    margin-top:5%;
    margin-bottom: 5%;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 15px;
    border:solid black;
    height: 95%;

}

.img{
   text-align: center;
}

.img img{
    max-height: 600px;
    max-width: 400px;
}

.detail{
    margin: 5% 15% 5% 15% ;
    border-radius: 15px;
}